body {
  margin-top: 10px;
  background-color: black;
}
.container {
  /* background: #ffffff; */
    background-image: linear-gradient(to bottom right, rgb(235, 141, 18), #38c093);
  box-shadow: 0px 0px 9px 3px #9e9c9c;
}
h1, p, h2{ 
    text-align: center;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 8vw;
}
p {
  font-size: 3.2vw;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 5vw;
}
.shrug {
  vertical-align: 50%;
  font-size: 1.5vw;
}
.col-6 {
  padding: 0px;
}